.summary {
	font-size: inherit;
	font-weight: normal;
	color: #808080;
}

.collapsible-symbol .summary {
	font-size: 2rem;
}

.signature-type,
.signature-attribs,
.signature-new {
	color: #adadad;
	font-size: smaller;
}