{{#if classdesc}}
	{{#callout "Описание" "callout-primary"}}
		<div class="description classdesc">{{{classdesc}}}</div>
	{{/callout}}
{{else if description}}
	{{#callout "Описание" "callout-primary"}}
		<div class="description">{{{description}}}</div>
	{{/callout}}
{{/if}}